@each $font-number, $font-size in $font-sizes {
    .fs-#{$font-number} {
        font-size: $font-size !important;
    }
}

@each $size in 0, 25, 50, 75, 100 {
    .mw-#{$size} {
        max-width: #{$size} + "%";
    }
    .mh-#{$size} {
        max-height: #{$size} + "%";
    }
}
