<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{ISO8601} %-5level [%logger{36}] SID=%X{SessionId} CID=%X{RequestId} [%thread] %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="consulting.devalex.frisbee" level="TRACE"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="graphql.kickstart.servlet" level="DEBUG"/>

    <logger name="org.springframework.ws" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>

    <logger name="org.zalando.logbook" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>